.container-fluid .span{margin:0 10px 0 0;}
.container-fluid .nav{margin:0px;}
#header_links{  background-color: #1b1b1b;
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
}
.page{margin-top:80px;}
.user-login a{color: #fff!important;}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: transparent;
    color: #fff!important;
    text-decoration: none;
}
.site-logo a{color: #fff;}
.basket-mini{color:#fff;}
.breadcrumb{
    background-color: #fff;
    border-bottom: 1px dotted red;
    border-radius: 0;
    padding: 0 15px 15px 0;
}
.top_links .nav{float:right;}
.site-logo{padding-left:15px;}

.dropdown-submenu > .dropdown-menu{
    top: 45px;
    left:0;
}
.product_main h1{
    font-size: 18px;
    margin-bottom: 0;
}
.product_main .price_color{
    font-size: 20px;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
}
.product_main .product_status {
    border-bottom: 1px dotted red;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.availability{
    text-align: center;
}
.recent_view .product_list .image_container{
    min-height: 50px;
}
.recent_view .product_list .image_container img{
    width:100%;
    height:100%;
}
.recent_view .product_list .star-rating{
    display:none;
}
.recent_view .product_list .roduct_price{
    display:none;
}
.recent_view .product_list .product_pod{
    height: auto;
}
#product_gallery img{
    width: 100%;
    height: 100%;
}
.primary-collapse{
    float: left;
    width:60%;
}
.main_navigation{
    width:40%;
    float: right;
}

/* search button CSS */

.search_form #id_q{
    border: 0 none;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: inline-block;
    height: 16px;
    padding: 6px;
    width: 142px;
    float: left;
    border-right:1px solid #ccc;
}
.search_form .btn{
    border: 0 none;
    width:20px;
    background: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-width: 0 0 0 1px;
    text-indent: 99999em;
    width: 30px; 
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #c7c5c5;
    background: url("../img/ui/searchbutton.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
}