.container-fluid .span{margin:0 10px 0 0;}
.container-fluid .nav{margin:0px;}
#header_links{  
    background-repeat: repeat-x;
    border-color: #252525;
    padding: 6px 0;
    height: 38px;
    font-size: 10px;
    border-bottom: 1px dotted #747474;
    max-width: 976px;
    margin: 0 auto;
    background: transparent;
}
.page{margin-top:80px;}
.user-login a{color: #fff!important;}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: transparent;
    color: #fff!important;
    text-decoration: none;
}
.site-logo a{color: #fff;}
.basket-mini{
    color:#fff;
    float: right;
    width: 110px;
    height: 40px;
    margin: 0 19px 0 7px;
    background-position: 2px 7px;
    font-family: 'azo-sans', sans-serif;
    font-weight: 500;
    font-size: 11px;
}
.basket-mini .icon{
    float: left;
    margin: 0;
    background-image: url('../img/ui/shopping_bag.png');
    background-repeat: no-repeat;
    width: 33px;
    height: 45px;
    padding: 13px 2px 2px 2px;
    cursor:pointer;
}
.basket-mini .icon .basket-total{
    overflow: hidden;
    height: 16px;
}
.basket-mini .icon .basket-total span{
    text-align: center;
    width: 100%;
}

.breadcrumb{
    background-color: #fff;
    border-bottom: 1px dotted #C7C5C5;
    border-radius: 0;
    padding: 0 15px 15px 0;
}
.top_links .nav{float:right;}
.site-logo{padding-left:15px;}

.dropdown-submenu > .dropdown-menu{
    top: 45px;
    left:0;
}
.product_main h1{
    font-size: 18px;
    margin-bottom: 0;
}
.product_main .price_color{
    font-size: 20px;
    margin-bottom: 0;
    padding: 10px;
    text-align: right;
}
.product_main .product_status {
    border-bottom: 1px dotted red;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
}
.availability{
    text-align: right;
}
.recent_view .product_list .image_container{
    min-height: 50px;
    margin-bottom: 30px;
}
.recent_view .product_list .image_container img{
    width:100%;
    height:100%;
}
.recent_view .product_list .star-rating{
    display:none;
}
.recent_view .product_list .product_price{
    display:none;
}
.recent_view .product_list .product_pod{
    height: auto;
    margin: 0;
}
#product_gallery img{
    width: 100%;
    height: 100%;
}
.primary-collapse{
    float: left;
    width:60%;
}
.main_navigation{
    width:40%;
    float: right;
}

/* search button CSS */

.search_form #id_q{
    border: 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: inline-block;
    height: 16px;
    padding: 6px;
    width: 142px;
    float: left;
    border-right:1px solid #ccc;
    font-size: 13px;
}
.search_form .btn{
    border: 0 none;
    width:26px;
    background: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-width: 0 0 0 1px;
    text-indent: 99999em;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #c7c5c5;
    background: url("../img/ui/searchbutton.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.btn-add-to-basket{
    padding: 10px 20px;
    width: auto;
    background-color: #000;
    background-image: linear-gradient(to bottom, #000, #000);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #000;
    color: #ffffff;
}
.product_title{
    margin-left: 2.5641%;
}
.product_main .submit_buttons{
    margin-left: 0;
}
.product_main .submit_buttons .btn-wishlist{
    float: right;
}
.product_list .product_pod {
    max-height: 350px;
    height: auto;
    text-align: center;
}
.product_list .product_pod .product_title{
    margin-left: 0;
}
.product_list .image_container {
    min-height: 100px;
}
.product_list .image_container img{
    max-width: 94%;
    width: 100%;
}
.product_list .product_price {
    position:relative;
    left: 0;
    width: 100%;
}
.product_list .product_price .btn-primary{
    background-color: #000;
    background-image: linear-gradient(to bottom, #000, #000);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 15px;
}
.product_list .product_price .disabled{
    padding: 10px 15px;
}
.category_list .product_image{
    width:100%;
    height: 100px;
    float: left;
    text-align: center;
}
.category_list .product_image img{
    max-width: 94%;
    width: 100%;
}
.category_list .product_pod{
    max-height: 200px;
}
.category_list .product_title{
    width:100%;
    float: left;
    text-align: center;
    margin-left: 0;
}

#top_page .search_form{margin: 4px 13px 4px 7px;}
.dropdown:hover .dropdown-menu {
    display: block;
}

